body {
    background-color: #f5e5c0;
    color: #2f3440;
  }
  .scores {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 15px;
  }
  .scores .score1 {
    color: #b54a35;
  }
  
  .scores .score2 {
    color: #b54a35;
  }
  
  .gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .winner {
    font-size: 2.5em;
    font-weigth: bold;
    color: #b54a35;
  }
  
  .gameboard > h1 {
    color: #3f5666;
  }
  
  .gameboard > h1 .player-name {
    color: #b54a35;
  }
  .dices-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .dices-container > h1 {
    color: #3f5666;
  }
  .dices-container .total {
    color: #3f5666;
    font-weight: bold;
  }
  .dices-container .total-value {
    color: #b54a35;
  }
  .dices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  .dices .dice1 {
    padding: 15px;
    background-color: #3f5666;
    line-height: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 15px;
  }
  
  .dices .dice2 {
    padding: 15px;
    background-color: #3f5666;
    line-height: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 15px;
  }
  
  .actions {
    display: flex;
    justify-content: center;
  }
  .actions button {
    flex: 1 0 calc(50% - 20px);
    background-color: #f8ca4d;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #2f3440;
    padding: 5px 15px;
    margin: 10px;
    outline: none;
    font-weight: bold;
    color: #3f5666;
  }
  .actions button:hover {
    filter: brightness(1.1);
  }
  .actions button:active {
    filter: brightness(0.6);
  }
  .stock-container {
    font-weight: bold;
    color: #3f5666;
  }
  .stock-container .stock {
    color: #b54a35;
  }